<html>
    <body>
        <h1>Register an account</h1>
        <form method="post" action="#">
            <label>username</label>
            <input type="text" name="username"/>
            <br>
            <label>password</label>
            <input type="password" name="password"/>
            <br>
            <label>confirm password</label>
            <input type="password" name="password2"/>
            <br>
            <input type="submit" name="register"/>
        </form>
    </body>
</html>